.form {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2.8rem 1.8rem;
  max-width: 30rem;
  border-radius: 0.5rem;

}

.login-form-con {
  width: 100%;
  padding: 2.8rem 0.6rem;
}

.inner-con {
  width: 95%;
  max-width: 60rem;
  padding: 3.4rem 4.2rem;
}

.login-img {
  width: 50%;
  border-radius: 2rem;
}

