.footer-con {
  background-image: linear-gradient(to right bottom, rgba(75, 197, 153, 0.9), rgba(75, 197, 153, 0.99)) , url('src/assets/images/menu_background.jpg');
  padding: 2.4rem;

}

.footer-con p {
  font-size: 1.2rem;
  color: #fff;
  margin: 0;
}
