<div class="review-form-con">
  <h1 style="text-align: center">Create opinion</h1>
  <form [formGroup]="reviewFormGroup" (ngSubmit)="onReviewCreating()">
    <div class="flex-col" style="gap: 2.4rem" formGroupName="review">
      <mat-form-field appearance="fill">
        <mat-label>Select rate</mat-label>
        <mat-select formControlName="rate">
          <mat-option *ngFor="let rate of ratings" [value]="rate.value" >
            {{rate.name}}
          </mat-option>

        </mat-select>
        <mat-error *ngIf="rate.errors && (rate.dirty || rate.touched)">Rate must be valid</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Leave a opinion</mat-label>
        <textarea matInput placeholder="Lesson was great but..."
                  formControlName="content" style="min-height: 10rem"></textarea>
        <mat-error *ngIf="content.errors && (content.dirty || content.touched)">Content must be valid</mat-error>
      </mat-form-field>

      <button class="second-btn" style="width: 100%">Add opinion</button>
    </div>
  </form>
</div>
