


.star-ratings {
  unicode-bidi: bidi-override;
  color: #ccc;
  font-size: 2.2rem;
  position: relative;
  margin: 0;
  padding: 0;
}

.fill-ratings {
  color: #2AC59B;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}

.subject {
  color: rgb(42, 197, 155);
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.add-con {
  background-color: #fff;
  padding: 1.8rem;
  border-left: solid 5px #38d9a9;
  transition: all 0.2s linear;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.add-con:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.2s linear;
}

.short-desc {
  margin-bottom: 2.8rem;
  word-wrap: break-word;
  max-width: 30rem;
}

.main-info-con {

}

.places-con p {
  margin: 0;
}

.places-list {
  color: #2AC59B;
  font-weight: 300;
  font-size: 1rem;
}

.author-name {
  font-size: 1.6rem;
  font-weight: 300;
  color: rgb(42, 197, 155);
  margin-bottom: 1.8rem;
}

span {
  display: inline-block;
}

.empty-ratings {
  padding: 0;
  display: block;
  z-index: 0;
}

.profile-img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.info-container, .info-container p {
  width: max-content;
}



.phone-con {
  color: #2AC59B;
}

.phone-con p {
  margin: 0;
}

.send-message {
  margin-top: 2.4rem;
  font-size: 1.2rem;
  width: max-content;
}



.price {
  font-size: 1.2rem;
  font-weight: 300;
  color: #333;
  margin-bottom: 1.8rem;
}

.phone-number {
  font-size: 1rem;
  font-weight: 300;
}

@media only screen and (max-width: 980px) {
  .inner-main-con {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .info-container {
    align-items: flex-start;
  }
}
@media only screen and (max-width: 750px) {
  .short-desc {
    width: 90%;
    max-width: 90%;
  }

  .main-info-con {
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .places-con {
    flex-direction: column;
    align-items: flex-start;
  }

  .img-div-con {
    gap: 0.8rem !important;
  }

  .profile-img {
    width: 4rem;
    height: 4rem;
  }

  .stars-container {
    flex-direction: column;
    align-items: flex-end;
  }
}
