.home-con {
  background-color: #e9ecef;
  padding: 2.4rem;
}

p {
  margin: 0;
}

.subject-con {
  min-width: 10rem;
}

.subject-con mat-icon {
  color: #999999;
}

.subject-name {
  color: #384047;
  font-size: 1rem;
  font-weight: 300;

}

.grid-con {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.8rem;
  row-gap: 0.8rem;
  width: 35rem;
}

.see-info {
  grid-column: 1 / 3;
  justify-self: flex-start;
  color: #2AC59B;
  margin-top: 1.4rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.see-info:hover {
  transition: all 0.2s linear;
  text-decoration: underline;
}

h1 {
  font-weight: 300;
  font-size: 1.8rem;
}
.main-con {
  gap: 3.8rem;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(121,99,99, 0.2);
  border-right: 1.1em solid rgba(121,99,99, 0.2);
  border-bottom: 1.1em solid rgba(121,99,99, 0.2);
  border-left: 1.1em solid #2AC59B;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.register-commercial {
  background-image: linear-gradient(to right bottom, rgba(75, 197, 153, 0.9), rgba(75, 197, 153, 0.99)) , url('../../../assets/images/menu_background.jpg');
  padding: 1.8rem;
}

.com-header {
  color: #fff;
  font-weight: 300;
}

p {
  color: #fff;

}


.com-button {
  margin-top: 0.8rem;
}

.light-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
}

.light-add {
  background-color: #fff;
  padding: 1.2rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.light-add:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all 0.2s linear;
}

p, span {
  margin: 0;
}
.profile-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.location {
  color: #12a27f;
}

.price {
  color: #333;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: max-content;
}

.reviews-quan {
  color: #12a27f;
}

.best-adds {
  background-color: #e9ecef;
  padding: 2.4rem;
}

@media only screen and (max-width: 1300px) {
  .light-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1250px) {
  .grid-con {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .main-con {
    width: 100%;
  }

  mat-icon {
    width: max-content;
  }
}

@media only screen and (max-width: 880px) {
  .light-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .light-add {
    width: 100%;
    max-width: 30rem;
  }


}

@media only screen and (max-width: 550px) {
  .main-con {
    flex-direction: column;
  }

  .home-con, .best-adds{
    padding: 1rem;
  }
}


@media only screen and (max-width: 450px) {
  .light-img {
    display: none;
  }
}
