.profile-con {
  padding: 2.8rem 1.2rem;
  gap: 2.8rem;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .profile-con {
    flex-direction: column;

  }

  .outlet-con {
    width: 100%;
  }

  app-navigation {
    width: 100%;
  }
}
