.adds-list-con {
  padding: 4.8rem 1.2rem;
  min-height: 80vh;
  width: 100%;
  background-color: #f1f3f5;
}

.main-container {
  width: 60rem;
}
ngb-pagination ::ng-deep ul > li:not(.active) > a {
  background-color: #fff !important;
  color: #333 !important;
  border-color: #12a27f !important;

}

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #12a27f !important;
  border-color: #12a27f !important;

}

@media only screen and (max-width: 1000px) {
  .main-container {
    width: 100%;
  }


}
