<div class="single-advertisement-con flex-col align-center ">
  <div style="max-width: 65rem" class="inner-con">
    <div class="all-con flex " style="gap: 3.2rem">
      <div class="left-panel flex-col align-start">
        <img class="profile-image" style="align-self: center" [src]="advertisement?.userPayload?.profileImagePath"/>
        <button *ngIf="advertisement?.userPayload?.username !== currentUser?.username && isAuthenticated()" class="flex align-center second-btn justify-center" (click)="onMessageCreating()" style="gap: 0.2rem; width: max-content;">
          <mat-icon style="color: #fff">email</mat-icon>
          Send message
        </button>

        <ul class="flex flex-col" style="gap: 0.6rem">
          <li *ngFor="let place of advertisement?.placesNames">
            <div class="flex align-center">
              <mat-icon>location_on</mat-icon>
              <p class="place-name">{{ place | titlecase}}</p>
            </div>
          </li>
        </ul>

        <div class="availability-info info-con" >
          <div class="flex align-center" style="gap: 0.6rem;">
            <mat-icon>calendar_today</mat-icon>
            <p>Availability</p>
          </div>
        </div>
        <div class="days-list">
          <ul class="flex-col" style="gap: 0.6rem">
            <li class="flex align-center" style="gap: 1.2rem; width: max-content" *ngFor="let availability of advertisement?.availabilityPayloads">
              <p style="color: #2AC59B;">{{ availability.dayName}}</p>
              <p>{{ availability.startHour}} - {{ availability.endHour}}</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="right-panel flex-col">
        <div class="flex space-between" style="margin-bottom: 1.2rem">
          <p class="subject-name">{{ advertisement?.subjectName | titlecase}}</p>
          <p class="price">{{ advertisement?.price }}zł / {{ advertisement?.minutesDuration }} min</p>
        </div>
        <p class="user-name">{{ advertisement?.userPayload?.firstName | titlecase}} {{ advertisement?.userPayload?.lastName | titlecase }}</p>
        <div class="flex align-end" style="gap: 0.6rem; margin-bottom: 2.4rem">
          <div class="star-ratings">
            <div class="fill-ratings" [ngStyle]="{ width : (advertisement?.ratingAverage) + '%'}">
              <span>★★★★★</span>
            </div>
            <div class="empty-ratings">
              <span>★★★★★</span>
            </div>
          </div>
          <p style="color: #2AC59B; font-weight: 300;">{{ advertisement?.reviewsQuantity }} reviews</p>
        </div>

        <div class="add-desc">
          <div class="info-con info-con-main flex align-center" style="margin-bottom: 1rem">
            <mat-icon>description</mat-icon>
            <p>Advertisement description</p>
          </div>

          <p class="add-content" [innerHTML]="advertisement?.content"></p>

          <div class="info-con info-con-main flex align-center" style="margin-bottom: 1rem">
            <mat-icon>schedule</mat-icon>
            <p>Availability</p>
          </div>
          <div class="days-list">
            <ul class="flex-col" style="gap: 0.6rem">
              <li class="flex align-center" style="gap: 1.2rem" *ngFor="let availability of advertisement?.availabilityPayloads">
                <p style="color: #2AC59B;">{{ availability.dayName}}</p>
                <p>{{ availability.startHour}} - {{ availability.endHour}}</p>
              </li>
            </ul>
          </div>
          <div class="info-con info-con-main flex align-center" style="margin-bottom: 1rem">
            <mat-icon>bookmark_border</mat-icon>
            <p>Lesson's range</p>
          </div>
          <ul class="flex-col" style="gap: 0.6rem; padding-left: 2.2rem; list-style: square; margin-bottom: 1.8rem">
            <li class="lesson-range" *ngFor="let lessonRange of advertisement?.lessonRanges">{{ lessonRange | titlecase}}</li>
          </ul>

          <div class="info-con info-con-main flex align-center" style="margin-bottom: 1rem;">
            <mat-icon> pin_drop</mat-icon>
            <p>Place of lessons</p>
          </div>

          <ul  class="flex-col" style="gap: 0.6rem;">
            <li *ngFor="let place of advertisement?.placesNames">
              <div class="flex align-center">
                <mat-icon>location_on</mat-icon>
                <p class="place-name">{{ place | titlecase}}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="reviews-con" style="align-self: flex-start">
      <p style="font-size: 1.4rem">Last opinions</p>
      <p style="font-size: 0.8rem; color: #999999; margin-bottom: 1.2rem">Opinion's number: {{ advertisement?.reviewsQuantity }}</p>
      <button class="white-button second-btn flex align-center" (click)="onOpinionCreating()" style="gap: 0.2rem">
        <mat-icon>record_voice_over</mat-icon>
        Opinion
      </button>

      <div class="flex-col " style="width: 100%; gap: 2.4rem; margin-bottom: 3.8rem">
        <div class="option-con flex align-start" style="gap: 1.2rem;" *ngFor="let review of reviews">
          <img class="author-profile-image" [src]="review?.user?.profileImagePath"/>
          <div class="review-content flex-col" style="width: 100%">
            <p class="review-author-name" style="margin-bottom: 1.8rem">{{ review?.user?.firstName}}</p>
            <div class="flex space-between" style="margin-bottom: 1.2rem">
              <div class="flex align-center" style="gap: 0.2rem">
                <div class="star-ratings">
                  <div class="fill-ratings" [ngStyle]="{ width : (review.starsNumber / 5) * 100 + '%'}">
                    <span>★★★★★</span>
                  </div>
                  <div class="empty-ratings">
                    <span>★★★★★</span>
                  </div>
                </div>

              </div>

              <p> {{ getFormattedDate(review?.createdAt) }}</p>
            </div>
            <p class="content">{{ review?.content}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
