.main-nav-con, mat-sidenav-content {
  height: 100%;
  /*min-height: 80vh;*/
  width: 15rem;
  z-index: 20;
  margin: 0 !important;
  /*padding: 0.4rem 0;*/
}

.main-nav-con {
  min-height: 100vh;
}


.activity {
  background-color: #f8f9fa;
  gap: 0.6rem;
  border-left: #999 solid 5px;
  padding: 0.6rem 1.2rem;
  transition: all 0.2s linear;
  cursor: pointer;
}

.activity:hover {
  border-left: solid 5px #38d9a9;
  background-color: #dee2e6;
}

.activity-active {
  border-left: solid 5px #38d9a9;
  background-color: #dee2e6;
}

.activity p {
  font-size: 1rem;

}

p {
  margin: 0;
}

.activities-list {
  gap: 0.8rem;
}

@media only screen and (max-width: 1200px) {
  .main-nav-con, mat-sidenav-content {
    min-height: min-content;
    width: 100%;
  }
}
