@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Dancing+Script:wght@500&family=Inter:wght@200;300;400&family=Montserrat:wght@200;300&family=Open+Sans&family=Oswald:wght@200;500&family=Playfair+Display&family=Roboto+Mono:ital,wght@1,200;1,400&family=Roboto:ital,wght@0,100;1,300&family=Rubik:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  color: #333;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.align-start {
  align-items: flex-start;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.main-btn, .second-btn, .delete-button, .auth-btn{
  background: none;
  color: #f3f3f3;
  border: none;
  font-size: 1.2rem;
  padding: 0.8rem 1.4rem;
  transition: all 0.2s linear;
  cursor: pointer;
  border-radius: 0.2rem;
}

.auth-btn {
  background-color: #2AC59B;
  color: #fff;
}

.com-button{

  color: #f3f3f3;
  border: solid 1px #fcc419;
  font-size: 1.2rem;
  padding: 0.8rem 1.4rem;
  transition: all 0.2s linear;
  cursor: pointer;
  border-radius: 0.2rem;
  background-color: #fcc419;
}

.com-button:hover {
  background-color: #fff;
  border: solid 1px #fcc419;
  color: #fcc419;
  transition: all 0.2s linear;
}

.second-btn {
  background-color: rgba(75, 197, 153);
  color: #f3f3f3;
  border: solid 2px rgba(75, 197, 153);
}

.second-btn:hover, .auth-btn:hover {
  background-color: #fff;
  color: rgba(75, 197, 153);
  transition: all 0.2s linear;
}

.delete-button {
  background-color: #fa5252;
  border: solid 2px #fa5252;
}

.delete-button:hover {
  background-color: #fff;
  color: #fa5252;
}

.main-btn:hover {
  background-color: #f3f3f3;
  color: rgba(75, 197, 153);
  transition: all 0.2s linear;
}

.white-button {

}
.align-end {
  align-items: flex-end;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.flex-end {
  align-items: flex-end;
}
