<div class="menu-con flex flex-col align-center justify-center">
  <div class="nav-links-con flex align-center space-between" >
    <div class="flex align-center" style="gap: 1.2rem">
      <div class="flex align-center menu-link" routerLink="/" style="gap: 1rem">
        <mat-icon>school</mat-icon>
        <p>E-Tutor</p>
      </div>

      <div class="link" (click)="onAdvertisementsForCategorySearching('tutor')">
        Tutors advertisements
      </div>

      <div class="link" (click)="onAdvertisementsForCategorySearching('student')">
        Students advertisements
      </div>
    </div>

    <div class="flex align-center" style="gap: 2rem;" *ngIf="!isAuthenticated else authenticatedMenu">
      <div class="link" routerLink="/login" >
        Login
      </div>

      <div>
        <button class="main-btn" routerLink="/register">
          Register
        </button>
      </div>
    </div>

    <ng-template #authenticatedMenu>
      <div class="user-bar" >
        <div [matMenuTriggerFor]="appMenu" class="flex align-center" style="cursor: pointer; gap: 1rem">
          <p class="username">Hi {{ currentUser?.firstName }} {{ currentUser?.lastName}}</p>
          <img class="profile-img" [src]="currentUser?.profileImagePath ? sanitizerPhoto(currentUser?.profileImagePath)
             : 'assets/images/default_avatar.png'"/>
        </div>

        <mat-menu #appMenu="matMenu">
          <button class="profile-button" mat-menu-item routerLink="/profile">
            <mat-icon class="profile-icon" >settings</mat-icon>
            Profile settings

          </button>
          <button class="profile-button" mat-menu-item (click)="logout()">
            <mat-icon class="profile-icon">logout</mat-icon>
            Logout
          </button>

        </mat-menu>


      </div>
    </ng-template>
  </div>

  <div class="search-bar flex justify-center" *ngIf="shouldBeHeaderVisible">
    <h1>Find the best lessons and offers from over 0 advertisements</h1>
  </div>

  <div class="form-con" *ngIf="shouldBeSearchFormVisible">
    <form class="flex align-end justify-center" style="gap: 1rem" (submit)="onAdvertisementsSearching($event)">
      <mat-icon>search</mat-icon>
      <mat-form-field class="flex" >
        <input [(ngModel)]="keyPhrase" name="keyPhrase" matInput class="search-input" style="color: #333" placeholder="Ex. Physics">
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Add category</mat-label>
        <mat-select  [(value)]="selectedCategory" >
          <mat-option value="tutor">Tutor's advertisements</mat-option>
          <mat-option value="student">Student's advertisements</mat-option>
          <mat-option value="all">All advertisements</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="second-btn">Search</button>
    </form>
  </div>
</div>
