.menu-con {
  background-image: linear-gradient(to right bottom, rgba(75, 197, 153, 0.9), rgba(75, 197, 153, 0.99)) , url('src/assets/images/menu_background.jpg');
  padding: 1.8rem;


}

.nav-links-con {
  gap: 1.8rem;
  margin-bottom: 2.8rem;
  min-width: 60rem;
}

.link, .menu-link{
  color: #f3f3f3;
  font-size: 1.4rem;
  position: relative;
  cursor: pointer;
  font-weight: 300;
}



.link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f3f3f3;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

p {
  margin: 0;
}

h1 {
  font-size: 44px;
  line-height: 1.1;
  color: #f3f3f3;
  font-weight: 10;
  width: 80%;
  text-align: center;
  margin-bottom: 2.4rem;
}

.form-con {
  background-color: #fff;
  padding: 0.6rem 1.2rem;
  max-width: 50rem;
  min-width: 40rem;
  border-radius: 2rem;
}

mat-icon {
  transform: scale(2) translateY(-10%);
}
.profile-icon {
  transform: scale(1.2);
}

::ng-deep .mat-form-field-wrapper{
  margin-bottom: -1.25rem !important;
}

.profile-button {
  font-size: 0.8rem;
}
.search-input {
  background: none;
  border: none;
  font-size: 1rem;
}

/* U S E R   M E N U */
.user-bar {
  color: #fff;
  width: max-content;
  /*z-index: 10;*/
  /*background-color: #fff;*/
}



.profile-img {
  width: 4rem;
  border-radius: 50%;
  height: 4rem;
}

p {
  margin: 0;
}

.username {
  font-weight: 300;
  color: #f3f3f3;
  font-size: 1.2rem;
}
