.menu-con {

  background-image: linear-gradient(to right bottom, rgba(75, 197, 153, 0.9), rgba(75, 197, 153, 0.99)) , url('src/assets/images/menu_background.jpg');
  padding: 1.8rem;
}

.nav-links-con {
  gap: 2.6rem;
  margin-bottom: 2.8rem;
}

.link {
  color: #f3f3f3;
  font-size: 1.2rem;
}

.link {
  position: relative;
  cursor: pointer;
}

.link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f3f3f3;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

p {
  margin: 0;
}

h1 {
  font-size: 44px;
  line-height: 1.1;
  color: #f3f3f3;
  font-weight: 10;
  width: 80%;
  text-align: center;
}

.form-con {
  background-color: #fff;
  /*padding: 2rem;*/
  width: 100%;
}

mat-icon {
  transform: scale(2);
}

.search-input {
  background: none;
  border: none;
  font-size: 1rem;
}



